.select {
  display: block;
  padding: 10px 12px;
  margin: 30px 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;

  border: 1px solid #ddd;
  border-radius: 7px;

  appearance: none;

  transition: border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: #8632e0;
    box-shadow: 0 0 0 2px rgba(134, 50, 243, 0.2);
  }
  &:hover {
    border-color: #bbb;
  }

  option {
    padding: 8px;
  }
}

